/* CSS declarations go here */
.error {
	color:red;	
	display:inline-block;
}

#background {
	background-image: url("trianglify-background.svg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}